.App {
  /* background-color: yellow; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  background-color: #E1F5FD;
  height: 70px;
  width: 100%;
  -webkit-box-shadow: 0 5px 2px 2px rgba(9, 9, 9, 0.23);
          box-shadow: 0 5px 2px 2px rgba(9, 9, 9, 0.23);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.logo {
  margin-left: 15px;
  font-size: 30px;
  font-weight: 900;
  color: #FFC400;
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.btn {
  border: none;
  padding: 0px 20px;
  height: 40px;
  background-color: black;
  color: #E1F5FD;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

li {
  margin: 0px 25px;
  list-style-type: none;
  margin-right: 10px;
  font-size: 20px;
  color: black;
}

.hamburger {
  height: 40px;
  width: 40px;
  background-color: gray;
  margin: 30px;
  cursor: pointer;
  display: none;
}

.Active {
  background-color: black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.Link {
  color: #FFC400;
  font-size: 25px;
  text-decoration: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.home div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home img {
  margin-top: 20px;
}

.home .url_2 {
  height: 250px;
  width: 350px;
  position: absolute;
  top: 400px;
  left: 600px;
  border-radius: 50%;
}

.home div {
  margin-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home div button {
  background-color: #FFC400;
  color: black;
  height: 80px;
  width: 200px;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
}

.home div p {
  margin-top: 30px;
  font-style: oblique;
}

.home div h1 {
  color: #FFC400;
  font-size: 80px;
  font-weight: 700;
  margin-left: 80px;
}

.home div h2 {
  margin-top: 15px;
  color: black;
  font-size: 40px;
}

.product_container {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding-left: 70px;
}

.product_container .products {
  margin: 80px 20px 0px 20px;
  height: 450px;
  width: 350px;
  border: 2px solid #0581C9;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 3px 3px #e1f5fd;
          box-shadow: 0 4px 3px 3px #e1f5fd;
}

.product_container .products .idea {
  display: none;
}

.product_container .products .textDiv {
  margin-top: 15px;
  line-height: 25px;
}

.product_container .products .textDiv footer {
  margin: 0px 3px 0px;
  display: block;
  width: 100%;
}

.product_container .products .textDiv footer .link {
  background-color: black;
  color: #E1F5FD;
  text-decoration: none;
  width: 30%;
  border-radius: 15px;
  height: 30px;
  font-weight: 700;
}

.product_container .products .textDiv button {
  width: 30%;
  background-color: black;
  color: #fff;
  font-weight: 700;
  border-radius: 15px;
  height: 30px;
  border: none;
}

.product_container .products:hover {
  -webkit-box-shadow: 5px 5px 5px #e1f5fd;
          box-shadow: 5px 5px 5px #e1f5fd;
}

.product_container .products p {
  color: black;
  font-size: 15px;
  font-weight: 700;
}

.product_container .products img {
  height: 38vh;
  width: 90%;
  border: 3px solid #e1f5fd;
  margin-top: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .hamburger {
    display: block;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    background-color: gray;
    padding-bottom: 15px;
    display: none;
  }
  .nav-display {
    display: block;
  }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  li {
    text-align: center;
    margin: 0;
  }
}
/*# sourceMappingURL=App.css.map */